body {
    background-image: url(../img/hatter.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "aside article"
    "footer footer"
    ;
    width: 70%;
    margin: 0 auto;
}
header {
    grid-area: header;
    background-image: url(../img/fejlec.jpg);
    background-size: cover;
    height: 80vh;
}
article {
    grid-area: article;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}
nav {
    grid-area: nav;
}
aside > img {
    width: 100%;
}
header, article, aside {
    background-color: azure;
}
nav, footer {
    background-color: darkred;
}
li a {
    color: white;
    text-decoration: none;
}
nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
header > h1 {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 5vh;
}